---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Divulgando Ciencia | La ciencia abierta</title>
	</head>
	<body class="bg-principal-white">
		<section class="bg-principal-black h-screen w-full text-center relative overflow-hidden text-principal-white flex">
			<section class="m-auto w-full place-content-center px-8">
				<!--Texto (título y subtítulo)-->
				<header class="z-30 relative">
					<h1 class="font-generalsans-semibold text-2xl sm:text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl min-[2250px]:text-[10rem] mb-12">
						divulgandociencia.com
					</h1>
					<!-- Display the countdown timer in an element -->
					<div>
						<span class="mr-4 px-3 py-4 bg-faded-white font-generalsans-semibold rounded text-xl" id="time">
							<span class="hidden" id="popupSpan" >26/9/23 21:00:00</span>
						</span>
					</div>

					<script>
					// Set the date we're counting down to
					var countDownDate = new Date("Sep 26, 2023 21:00:00").getTime();

					// Update the count down every 1 second
					var x = setInterval(function() {

					// Get today's date and time
					var now = new Date().getTime();

					// Find the distance between now and the count down date
					var distance = countDownDate - now;

					// Time calculations for days, hours, minutes and seconds
					var days = Math.floor(distance / (1000 * 60 * 60 * 24));
					var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					var seconds = Math.floor((distance % (1000 * 60)) / 1000);

					document.getElementById("time").innerHTML = days + "D \n" + hours + "H \n" + minutes + "M \n" + seconds + "S \n"
					// document.getElementById("hours").innerHTML = hours + " horas"
					// document.getElementById("min").innerHTML = minutes + " minutos"
					// document.getElementById("sec").innerHTML = seconds + " segundos"

					// <span class="mr-4 px-3 py-4 bg-faded-white font-generalsans-semibold rounded text-xl" id="hours">
					// </span>
					// <span class="mr-4 px-3 py-4 bg-faded-white font-generalsans-semibold rounded text-xl" id="min">
					// </span>
					// <span class="w-10 px-3 py-4 bg-faded-white font-generalsans-semibold rounded text-xl" id="sec">
					// </span>

					// If the count down is finished, write some text
					if (distance < 0) {
						clearInterval(x);
					}
					}, 1000);
					</script>
					<script>
  						document.addEventListener("DOMContentLoaded", function() {
   						var timeElement = document.getElementById("time");
    						timeElement.addEventListener("mouseover", function() {
							var popupSpan = timeElement.querySelector("#popupSpan");
     							popupSpan.style.display = "inline";
    						});
   						timeElement.addEventListener("mouseout", function() {
      							var popupSpan = timeElement.querySelector("#popupSpan");
      							popupSpan.style.display = "none";
						});
  					});
					</script>
				</header>
			</section>
	
			<!--Imagen de fondo-->
			<div class="absolute top-0 bottom-0 z-10 blur opacity-30 bg-center h-full w-full">
				<img class="h-full object-cover w-full" alt="Imagen de portada de divulgandociencia.com. Mujer escribiendo sobre una pizarra verde." src="/images/landing-page/portada.webp"/>
			</div>
		</section>
	</body>
</html>

<style is:global>
	@font-face {
	  font-family: 'General Sans Semibold';
	  src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2');
	  font-weight: normal;
	  font-style: normal;
	  font-display: swap;
	}
	@font-face {
	  font-family: 'General Sans Regular';
	  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
	  font-weight: normal;
	  font-style: normal;
	  font-display: swap;
	}
	.hidden {
		bottom: -30px;
  		left: 50%;
  		transform: translateX(-50%);
	}
</style> 
